@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,900;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
} 

body{
    background: url(http://www.supah.it/dribbble/008/008.jpg);
    background-size: 100vw 100vh;
    text-align: center;
}

header{
    margin: 10px auto;
}

a{
    color: #565c73;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    color: #CDD4DE;
    margin-top: 200px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #CDD4DE;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #CDD4DE;
    margin-top: 15px;
}

button{
    border: 1px solid #CDD4DE;
    border-radius: 10px;
    padding: 10px 20px;
    background: transparent;
    color: #CDD4DE;
    font-family: 'Roboto', sans-serif;
    font-style: thin;
    font-size: 20px;
    margin-top: 100px;
}